<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.community.dao.AdminMapper">
    <sql id="selectFields">
        id, username, nickname, password
    </sql>

    <select id="selectByNameAndPwd" resultType="Admin">
        select <include refid="selectFields"></include>
        from admin
        where username = #{username} and password = #{password}
    </select>








</mapper>